*{
    box-sizing: border-box;
}

.header{
    font-family: 'Cinzel', serif;
    text-align: center;
    padding: 10px;
    padding-top: 70px;
}

iframe {
    align-content: center;
    display: list-item;
    margin: 0 auto;
    padding: 10px;
 }

 .row {
    display: list-item;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px; 
    margin-left: 0px; 
}

/*for smaller devices*/
@media (max-device-width:560px)
{
    h1{
        font-size: 10vw;
    }
    iframe{
        width: 75%;
        height: 100%;
    }
}