{% extends 'base.html' %}

{% block head %}
  <!--fonts css-->
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/home.css')}}">

{% endblock %}

{% block body %} 

  <div class="bg-image img1"></div>
  <div class="bg-image img2"></div>
  <div class="bg-image img3"></div>
  <div class="bg-image img4"></div>
  <div class="bg-image img5"></div>
  <div class="bg-image img6"></div>

  <div class="a"><span class="bg-text">Pb</span>   Pranav Bhat</div>
{% endblock %}
      